.jira-data {
    padding: 16px;
    background-color: var(--paper-background-color);
    border-radius: 8px;
    color: var(--text-primary-color);
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        margin-bottom: 10px;
        strong {
          color: var(--primary-color);
        }
      }
    }
  }
  
  