.jira-data {
    padding: 16px;
    background-color: #303030;
    border-radius: 8px;
  
    ul {
      list-style: none;
      padding: 0;
  
      li {
        margin-bottom: 10px;
        strong {
          color: #29b6f6;
        }
      }
    }
  }
  