.kela-intel {
    padding: 16px;
    background-color: #303030;
    border-radius: 8px;
    
    ul {
      padding: 0;
      list-style-type: none;
  
      li {
        margin-bottom: 12px;
        strong {
          color: #29b6f6;
        }
      }
    }
  }
  