.kela-intel {
    padding: 16px;
    background-color: var(--paper-background-color); /* Background adapts to theme */
    border-radius: 8px;
    color: var(--text-primary-color); /* Ensure text adapts to theme */
  
    ul {
      padding: 0;
      list-style-type: none;
  
      li {
        margin-bottom: 12px;
        strong {
          color: var(--primary-color); /* Highlighted text uses primary color */
        }
      }
    }
  }
  
  
  