.rss-feed-container {
    max-height: 400px;
    overflow-y: auto;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--paper-background-color);
    color: var(--text-primary-color);
  
    .feed-items {
      .rss-card {
        background-color: var(--card-background-color);
        margin-bottom: 16px;
        padding: 16px;
        border-radius: 8px;
  
        a {
          color: var(--primary-color);
          text-decoration: none;
  
          &:hover {
            text-decoration: underline;
          }
        }
  
        .pub-date {
          color: var(--text-secondary-color);
        }
      }
    }
  }
  
  
  
  